.container,
.containerAlignEnd {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
}

.containerAlignEnd {
  align-self: flex-end;
}

.icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header,
.headerAlignEnd {
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerAlignEnd {
  align-self: flex-end;
}

.heading {
  font-size: 18px;
  font-weight: 600;
}

.text {
  line-height: 1.6;
}
