.container {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  justify-items: center;
  margin: auto;
  width: 100%;
}

.arrowContainer {
  position: relative;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid var(--color-paragraph);
}

.arrowLeft {
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 2px solid var(--color-paragraph);
}

.arrowRight {
  transform: translate(-50%, -50%) rotate(45deg);
  border-right: 2px solid var(--color-paragraph);
}

.arrowLeft:disabled,
.arrowRight:disabled {
  opacity: 0.3;
}
