@import "styles/breakpoints.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 198, 199, 0.5);

  @include sm {
    padding: 10px;
  }
}

.heading {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
