@import "styles/breakpoints.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include sm {
    gap: 10px;
  }
}

.image {
  width: 350px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/loving.svg");

  @include sm {
    width: 280px;
    height: 200px;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}

.link {
  display: block;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 50%;
  transition: 0.4s ease;

  &:hover {
    border-color: var(--color-highlight);
  }
}

.linkIcon {
  width: 75px;
  height: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include sm {
    width: 55px;
    height: 55px;
  }
}
