@import "styles/breakpoints.scss";

.container {
  padding: 30px 50px 0 50px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 2fr 1fr;
  align-items: center;
  justify-items: center;

  @include sm {
    padding: 30px 15px 0 15px;
  }
}

.polaroidWrapper {
  width: 400px;
  max-width: 400px;

  @include sm {
    width: 100%;
  }

  @media (max-height: 680px) {
    width: 250px;
  }
}

.title {
  font-size: 45px;
  color: var(--color-headline);
  font-family: "Dancing Script", cursive;

  @include sm {
    font-size: 40px;
  }

  @media (max-height: 680px) {
    font-size: 35px;
  }
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  word-spacing: 5px;

  @include bg {
    font-size: 22px;
  }

  @include sm {
    margin-top: 10px;
    gap: 10px;
    font-size: 20px;
  }
}

.icon {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/flag.png");

  @include bg {
    width: 50px;
    height: 50px;
  }
}

.headingRows {
  line-height: 1.7;
}
