@import "styles/breakpoints.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;

  @include sm {
    flex-direction: column;
    align-items: baseline;
  }
}

.image {
  width: 100%;
  max-width: 350px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/laying.svg");

  @include bg {
    height: 200px;
  }

  @include sm {
    align-self: center;
  }
}
