.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/coffee.svg");
}

.value {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}

.text {
  line-height: 1.8;
  text-align: center;
}
