.container {
  display: flex;
  gap: 50px;
  width: 220px;
  height: 391px;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 220px;
  height: 391px;
  transition: 0.8s ease;
}
