@import "styles/breakpoints.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: grid;
  grid-template-columns: 17px 1fr;
  align-items: center;
  gap: 10px;

  @include bg {
    gap: 5px;
  }
}

.icon {
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include bg {
    width: 14px;
    height: 14px;
  }
}
