.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subsectionTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageTop {
  width: 100%;
  height: 150px;
  background-image: url("/reading.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.imageBottom {
  width: 100%;
  height: 150px;
  background-image: url("/meditating.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.troubles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
}

.subsectionBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}
