.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.subsectionTop {
  display: grid;
  grid-template-columns: 325px 1fr;
  gap: 20px;
}

.imageTop,
.imageBottom {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
}

.imageTop {
  background-image: url("/reading.svg");
}

.imageBottom {
  background-image: url("/meditating.svg");
  background-position: center;
}

.troubles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subsectionBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}
