.container {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: slideUp 0.7s;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
